@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 25% 94.1%;
    --foreground: 206 39% 10%;
    --card: 206 25% 94.1%;
    --card-foreground: 206 39% 10%;
    --popover: 206 25% 94.1%;
    --popover-foreground: 206 39% 10%;
    --primary: 206 39% 29%;
    --primary-foreground: 206 39% 98%;
    --secondary: 206 25% 88%;
    --secondary-foreground: 206 39% 20%;
    --muted: 206 25% 90%;
    --muted-foreground: 206 39% 40%;
    --accent: 177 42% 42%;
    --accent-foreground: 177 42% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 206 25% 85%;
    --input: 206 25% 88%;
    --ring: 177 42% 42%;
    --chart-1: 206 39% 29%;
    --chart-2: 177 42% 42%;
    --chart-3: 206 30% 50%;
    --chart-4: 177 30% 60%;
    --chart-5: 206 20% 70%;
    --radius: 0.5rem;
    --sidebar-background: 206 39% 15%;
    --sidebar-foreground: 206 25% 85%;
    --sidebar-primary: 177 42% 42%;
    --sidebar-primary-foreground: 177 42% 98%;
    --sidebar-accent: 206 39% 25%;
    --sidebar-accent-foreground: 206 25% 95%;
    --sidebar-border: 206 39% 20%;
    --sidebar-ring: 177 42% 52%;
  }
  .dark {
    --background: 206 39% 10%;
    --foreground: 206 25% 94.1%;
    --card: 206 39% 10%;
    --card-foreground: 206 25% 94.1%;
    --popover: 206 39% 10%;
    --popover-foreground: 206 25% 94.1%;
    --primary: 206 25% 98%;
    --primary-foreground: 206 39% 10%;
    --secondary: 206 39% 15%;
    --secondary-foreground: 206 25% 98%;
    --muted: 206 39% 15%;
    --muted-foreground: 206 25% 70%;
    --accent: 177 42% 42%;
    --accent-foreground: 177 42% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 206 39% 20%;
    --input: 206 39% 15%;
    --ring: 177 42% 52%;
    --chart-1: 206 25% 98%;
    --chart-2: 177 42% 52%;
    --chart-3: 206 30% 60%;
    --chart-4: 177 30% 70%;
    --chart-5: 206 20% 80%;
    --sidebar-background: 206 39% 5%;
    --sidebar-foreground: 206 25% 85%;
    --sidebar-primary: 177 42% 42%;
    --sidebar-primary-foreground: 177 42% 98%;
    --sidebar-accent: 206 39% 15%;
    --sidebar-accent-foreground: 206 25% 95%;
    --sidebar-border: 206 39% 12%;
    --sidebar-ring: 177 42% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
